/*@import-normalize; !* bring in normalize.css styles *!*/
@import '~normalize.css';
@import url('./Variables.scss');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: Play, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
