$mainText: #fff;
$mainHovertext: #00bfe7;
$text1: #fff;
$text2: #000000;
$text3: #adadad;
$text4: #989898;
$text5: #00bfe7;

$MainBg: #100028;
$back1: #100028;
$back2: #00a6ff;
$back3: #100028;
$back4: #969696;
$back5: #000000;
